        /* Customize the navbar background color */
        .navbar {
            background-color: #0099ff; /* You can change this color to your preference */
        }

        .container {
            background-color: #212529;
        }


        /* Customize the navbar text color */
        .navbar-nav .nav-link {
            color: #fdfbfb; /* You can change this color to your preference */
        }

        .carousel-item img {
            padding-top: 50px;
            display: block;
            margin: 0 auto; /* Center the images horizontally */
            max-height: 700px; /* Set the maximum height for consistency */
        }

        body {
            background-image: url('assets/bg.jpg');
            background-size: cover; /* Adjust the size as needed */
            background-repeat: no-repeat;
            background-attachment: fixed; /* This will make the background fixed */
            /* Add other CSS properties as needed */
        }





/* style1.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.image {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Untuk menyusun 3 kolom di samping */
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}
